doctype html
html(lang="en")
  include ../_includes/_head
  body
    .wrapper 
      //- include ../_includes/_header
      include ../_includes/_banner
      include  ../_includes/_news
    script(src="js/script.js") 

