.comment
  background: var(--color-back)
  padding: rem(100px) 0
  &__row
    display: flex
    justify-content: space-between
    align-items: center
  &__title
    position: relative
    font-family: var(--font-medium)
    font-size: rem(42px)
    color: #000
    margin-bottom: rem(90px)
    &:after
      position: absolute
      content: ''
      bottom: rem(-15px)
      left: 0
      width: 60%
      height: rem(5px)
      background: var(--color-main)
  &__btn
    padding: rem(15px) rem(35px)
    border: 1px solid var(--color-main)
    font-size: 1rem
    font-family: var(--font-regular)
    color: var(--color-main)
    border-radius: 10px
.swiper
  &-container 
    position: relative
    width: rem(800px)
    height: rem(520px)
    padding-top: rem(100px)
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      background: #000
      border-radius: 50%
      width: 50px
      height: 50px
   
  &__wrapper
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
  &__box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 80%
    padding-top: rem(40px)
    // min-height: rem(375px)
    color: #000
    background: #fff
    border-radius: 25px
    box-shadow: 0px 4.53741px 18.1496px #F2F5FA, 0px 4.53741px 18.1496px #F2F5FA, 0px 4.53741px 18.1496px #F2F5FA
  &__img
    width: 100%
    height: 100%
    border-radius: 25px
    
  &__picture
    position: absolute
    overflow: hidden
    top: rem(-50px)
    left: 0
    right: 0
    margin: 0 auto
    width: rem(100px)
    height: rem(100px)
    border: 5px solid #fff
    border-radius: 50%
    box-shadow: 0px 4.53741px 18.1496px #F2F5FA, 0px 4.53741px 18.1496px #F2F5FA, 0px 4.53741px 18.1496px #F2F5FA
  &__title
    font-family: var(--font-medium)
    font-size: rem(18px)
    line-height: rem(21px)
    color: #000
  &__icon
    margin: 0
    color: var(--color-main)
    font-size: rem(18px)
    & span
      margin: 0 3px
  &__text
    font-family: var(--font-light)
    font-size: rem(14px)
    color: #858688
    padding: rem(40px) rem(40px) rem(40px) rem(40px)
  &__buttons
    display: flex
    justify-content: center
    align-items: center
    & button
      padding: 0 rem(15px)
      text-align: center
      font-size: 28px
      margin: 0 5px
      border-radius: 7px
      color: var(--color-main)
      border: 1px solid var(--color-main)
      &:hover
        background: var(--color-main)
        color: #fff

    