.comment
  position: relative
  background: var(--color-back)
  padding: rem(100px) 0
  &__row
    display: flex
    justify-content: space-between
    align-items: center
  &__title
    position: relative
    font-family: var(--font-medium)
    font-size: rem(42px)
    color: #000
    margin-bottom: rem(90px)
    &:after
      position: absolute
      content: ''
      bottom: rem(-15px)
      left: 0
      width: 60%
      height: rem(5px)
      background: var(--color-main)
  &__btn
    padding: rem(15px) rem(35px)
    border: 1px solid var(--color-main)
    font-size: 1rem
    font-family: var(--font-regular)
    color: var(--color-main)
    border-radius: 10px
    background: var(--color-back)
  &__picture
    position: absolute
    border-radius: 50%
    border: 5px solid #fff
    &--default
      top: 240px
      left: 240px
      width: rem(50px)
      height: rem(50px)
      background: url('../img/comments/default.png') top center / cover
    &--big
      top: 240px
      right: 240px
      width: rem(100px)
      height: rem(100px)
      background: url('../img/comments/default.png') top center / cover
    &--small
      top: 220px
      left: 180px
      width: rem(30px)
      height: rem(30px)
      background: url('../img/comments/default.png') top center / cover
    