.header

  &__container
    display: flex
    justify-content: space-between
  &__wrap
    display: flex
    align-items: center
    justify-content: center
  &__wrapper
    display: flex
    flex-direction: column
    justify-content: flex-start
    color: var(--color-logo)
  &__title
    margin: rem(5px) 0
    color: inherit
    font-family: var(--font-medium)
    font-size: rem(22px)
  &__text
    margin: 0
    color: inherit
    font-family: var(--font-light)
    font-size: rem(12px)
.logo
  margin-right: rem(15px)