section.banner 
  .container.banner__container
    h2.banner__title 
      |Будущее наступило, ключи у нас!
    p.banner__text 
      |Миссия Профессионального лицея Коммуникаций и Информационных Технологий заключается в предоставлении качественных образовательных услуг для гармоничного развития личности и как специалиста для рынка труда Кыргызской Республики.
      