.comment
  .container.comment__container
    .comment__row
      h2.comment__title 
        |Отзывы
      a.comment__btn.btn.link--reset(href="#") 
        |Все отзывы  
    include ./_swiper
  .comment__picture.comment__picture--default
  .comment__picture.comment__picture--big
  .comment__picture.comment__picture--small
    