footer.footer 
  .container.footer__container 
    ul.footer__column.list--reset
      li.footer__title 
          |Навигация
      li.footer__text 
        a.footer__link.link--reset(href="#")
          |Главная
      li.footer__text
        a.footer__link.link--reset(href="#") 
          |Абитуриентам
      li.footer__text
        a.footer__link.link--reset(href="#") 
          |Вакансии
      li.footer__text 
        a.footer__link.link--reset(href="#") 
          |Партнеры
    ul.footer__column.list--reset 
      li.footer__title 
        |Контакты
      li.footer__text 
        |(+996 312) 61-29-05
      li.footer__text 
        |+996 55744 42 82
      li.footer__text 
        |+996 50744 42 82
      li.footer__text
        a.footer__link.link--reset(href="#")  
          |info@pls998.kg
    ul.footer__column.list--reset 
      li.footer__title 
        |Соц сети
      li.footer__text
        a.footer__link.link--reset(href="#")  
          span.icon-instagram 
          |Instagram
      li.footer__text 
        a.footer__link.link--reset(href="#") 
          span.icon-facebook
          |Facebook
      li.footer__text
        a.footer__link.link--reset(href="#")  
          span.icon-twitter
          |Twitter
    ul.footer__column.list--reset 
      li.footer__title 
        |Онлайн заявка
      li.footer__wrap
        button.footer__btn
          |Записаться
        
          
      