div.mobile.hide
    ul.mobile__nav.list--reset 
      li.mobile__list
        |Главная
      li.mobile__list
        |О нас
        span.icon-chevron-right
      li.mobile__list
        |Абитуриентам
      li.mobile__list
        |Вакансии
      li.mobile__list
        |Новости
      li.mobile__list
        |Партнеры
      li.mobile__list
        |Абитуриентам