section.news.news--margin
  .container.news__container 
    h2.news__title 
      |Новостной блог
    ul.news__columns.list--reset 
      li.news__list
        .news__picture 
          img.news__img(src="./img/news-back.jpg", alt="blog picture") 
          p.news__text
            span.icon-eye
            |2454
          p.news__text
            span.icon-calendar
            |14/04/2021
        h4.news__paragraph
          |Состоялось открытие нового It направления
        .news__buttons 
          a.news__btn.link--reset(href="#") Подробнее...
      li.news__list
        .news__picture 
          img.news__img(src="./img/news-back.jpg", alt="blog picture") 
          p.news__text
            span.icon-eye
            |2454
          p.news__text
            span.icon-calendar
            |14/04/2021
        h4.news__paragraph
          |Состоялось открытие нового It направления
        .news__buttons 
          a.news__btn.link--reset(href="#") Подробнее...
      li.news__list
        .news__picture 
          img.news__img(src="./img/news-back.jpg", alt="blog picture") 
          p.news__text
            span.icon-eye
            |2454
          p.news__text
            span.icon-calendar
            |14/04/2021
        h4.news__paragraph
          |Состоялось открытие нового It направления
        .news__buttons 
          a.news__btn.link--reset(href="#") Подробнее...
    .news__buttons 
      a.news__btn.btn-blue--small.link--reset(href="#") Все новости