section.partner.partner--margin 
  .container.partner__container 
    h3.partner__title 
      |Наши партнеры
    ul.partner__row.list--reset
      li.partner__list
        .partner__picture 
          img.partner__img(src="img/partners/Giz.png", alt="Giz logo")
      li.partner__list
        .partner__picture 
          img.partner__img(src="img/partners/Crm.png", alt="Crm logo")
      li.partner__list
        .partner__picture 
          img.partner__img(src="img/partners/Megaline.png", alt="Megaline logo")
      li.partner__list
        .partner__picture 
          img.partner__img(src="img/partners/Aknet.png", alt="Aknet logo")
      li.partner__list
        .partner__picture 
          img.partner__img(src="img/partners/Spa.png", alt="Spa logo")