.swiper
  // Slider main container
  .swiper-container
    // Additional required wrapper
    ul.swiper__grid.swiper__grid--left.list--reset 
      li.swiper__dot
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot 
      li.swiper__dot
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide
    ul.swiper__grid.swiper__grid--right.list--reset
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide 
      li.swiper__dot.swiper--hide
      li.swiper__dot
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot 
      li.swiper__dot    
    .swiper-wrapper
      // Slides
      .swiper-slide
        .swiper__wrapper
          .swiper__box 
            h2.swiper__title 
              |Айтматов Адилет
            p.swiper__icon 
              span.icon-dialog
              span.icon-dialog
            p.swiper__text 
              | Моя цель учится в чешском техническом университете появилась в начале 11 класса, тогда я поступил в профессиональный лицей номер 98 по специализации Фронт Энд разработчик. Учеба там была очень интересная и по моему мнению более полезная чем учеба в школе. Моим учителем был Сомятов А В. Это был один из лучших преподавателей. Сомятов А. В прекрасный учитель. Всегда помогал если что то не получается. Также помогал когда я начал работать в Намбасофт. По окончанию учебы меня пригласили в компанию Намбасофт где я работал и зарабатывал опыт. Сейчас я работаю в этой компании удаленно. Это мне очень помогает поддерживать знания которыми я овладел в этой компании. Всем советую учебу в профессиональном лицее номер 98.
      .swiper-slide
        .swiper__wrapper
          .swiper__box 
            h2.swiper__title 
              |Айтматов Адилет
            p.swiper__icon 
              span.icon-dialog
              span.icon-dialog
            p.swiper__text 
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat modi perspiciatis quos facere in consectetur.
      .swiper-slide
        .swiper__wrapper
          .swiper__box 
            h2.swiper__title 
              |Айтматов Адилет
            p.swiper__icon 
              span.icon-dialog
              span.icon-dialog
            p.swiper__text 
              | Моя цель учится в чешском техническом университете появилась в начале 11 класса, тогда я поступил в профессиональный лицей номер 98 по специализации Фронт Энд разработчик. Учеба там была очень интересная и по моему мнению более полезная чем учеба в школе. Моим учителем был Сомятов А В. Это был один из лучших преподавателей. Сомятов А. В прекрасный учитель. Всегда помогал если что то не получается. Также помогал когда я начал работать в Намбасофт. По окончанию учебы меня пригласили в компанию Намбасофт где я работал и зарабатывал опыт. Сейчас я работаю в этой компании удаленно. Это мне очень помогает поддерживать знания которыми я овладел в этой компании. Всем советую учебу в профессиональном лицее номер 98.
      //-   |
    //- //- // If we need pagination
    //- //- .swiper-pagination
    //- // If we need navigation buttons
    //- .swiper-button-prev
    //- .swiper-button-next
    //- //- // If we need scrollbar
    //- //- .swiper-scrollbar
  .swiper__buttons
    button.swiper__prev
      |&larr;
    button.swiper__next
      |&rarr;